body {
    /* font-family: Arial, sans-serif; */
    height: 100vh;
    width: 100%;
    background-color: #EBEBEB;
    margin: auto;
}

nav {
    background-color: white;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: 0.3s ease;
}

a:hover {
    color: #76b900;
    font-size: large;
    text-shadow: 1px 1px 1px #76b900;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.mid-nav {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 3vh;
}

.right-nav img {
    height: 25px;
    transition: 0.1s ease;
}

.right-nav img:hover {
    height: 28px;
    box-shadow: 0vh 0vh 5vh rgba(0, 0, 0, 0.3);
}

h2 {
    color: #76b900;
    text-align: center;
    font-size: 45px;
}

span {
    color: #76b900;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

section .card {
    height: 43vh;
    width: 35vh;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background-color: white;
    transition: 0.3s ease;
    font-size: 17px;
}

section .card:hover {
    height: 45vh;
    width: 37vh;
    font-size: 20px;
    box-shadow: 0vh 0vh 3vh #067b00;
}

.card img {
    width: 35vh;
    border-radius: 10px;
    transition: 0.3s ease;

}

.card img:hover {
    width: 37vh;
}

.card h3,
p {
    padding: 0 10px;
}

h3 {
    color: #76b900;
    font-size: 25px;
}

.links {
    width: auto;
    height: auto;
    background-color: black;
    padding: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.links {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.cookies {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
}

.cookies button {
    color: white;
    background-color: #76b900;
    border: none;
    width: 15%;
    height: 100%;
    font-weight: bolder;
    font-size: larger;
    transition: background-color 0.3s ease;
}

.cookies button:hover {
    background-color: white;
    color: #76b900;
}

.cookies div {
    color: white;
    background-color: rgb(85, 85, 85);
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile {
    display: none;
}

@media screen and (max-width: 1120px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .cookies {
        display: flex;
        flex-direction: column;
    }

    .cookies div {
        width: auto;
        height: auto;
    }

    .cookies button {
        width: 100%;
        padding: 5px;
    }

    .links {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .cookies div {
        width: auto;
        height: auto;
        padding: 5px;
    }

    .cookies button {
        padding: 5px;
        width: 100%;
    }

    .links {
        width: auto;
        padding: 5px;
    }
}

@media screen and (max-width: 530px) {
    .cookies div {
        width: auto;
        height: auto;
        padding: 5px;
    }

    .cookies button {
        width: 100%;
        padding: 5px;
    }

    .links {
        width: auto;
    }
}